* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Titillium Web', sans-serif;
}

h1{ font-size: 66px; font-weight: 600; line-height: 80px;}

p{
    font-size: 18px;
    color:white;
    line-height: 1.8;
    margin-bottom: 0;
}



.navbar{
    background-color: rgb(17, 17, 17);
    box-shadow: 0 2px 4px 0 black;
    min-height: 100px;

   }

.nav-link {
    color: rgb(247, 243, 243);
}

.nav-link:hover {
    background: linear-gradient(rgb(216, 185, 9), rgba(201, 194, 194, 0));
}


.nav-item{
    font-size: 15px;
    
}


.navbar-brand img {
    max-width: 120px;
    max-height: 100px;
  }


  #header {
    background-image: url("../assets/img/ba3.jpg");
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: white;

  }

  .conter-center{
    max-width:800px;
    margin: 0 auto 60px auto;
    text-align: center;
  }

  .btn-header {
    font-size:14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 4px;
    display:inline-block;
    background-color: transparent;
    color: rgb(253, 253, 255);
    border-color: white; }
    

    .btn-header:hover{
       background-color:white;
       color: black;
    }

  .btn-icon ion-icon{
    font-size: 14px;
    margin-left: 5px;
    color:blue;
  }

  .textoCard{
    font-size: .9rem;
    color: gray;
    line-height: 1.3rem;
  }



@media (max-width: 575.98px) { 
    h1 {
        font-size:40px; line-height: normal ;
    }
 }


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) { }

